/* @import url('https://meyerweb.com/eric/tools/css/reset/reset.css'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* colors: 
#ab2a19 
#d34735
#ed6b5a
3ad886
 */

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #ab2a19;
  height: 15vh;
  color: white;
  text-transform: uppercase;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
